[submodule "third_party/mmdetection"]
	path = third_party/mmdetection
	url = https://github.com/takbess/mmdetection_IAdet.git
[submodule "third_party/cvat"]
	path = third_party/cvat
	url = https://github.com/takbess/cvat.git
