[submodule "third_party/mmdetection"]
	path = third_party/mmdetection
	url = git@github.com:tohu199/mmdetection.git
[submodule "third_party/cvat"]
	path = third_party/cvat
	url = git@github.com:tohu199/cvat.git
