absl-py==2.3.1
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.5.2
argcomplete==3.6.3
async-timeout==5.0.1
attrs==25.3.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.14.3
blinker==1.8.2
boto3==1.37.38
botocore==1.37.38
brotli==1.2.0
cachetools==5.5.2
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
choreographer==1.3.0
click==8.1.8
colorama==0.4.6
contourpy==1.1.1
crcmod==1.7
cryptography==46.0.5
cvat_sdk==2.21.2
cycler==0.12.1
dacite==1.7.0
Deprecated==1.3.1
dill==0.4.0
dnspython==2.6.1
exceptiongroup==1.3.1
fastapi==0.124.4
fiftyone==0.25.2
fiftyone-brain==0.17.0
fiftyone_db==1.1.5
filelock @ file:///croot/filelock_1700591183607/work
Flask==3.0.3
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2025.3.0
ftfy==6.2.3
future==1.0.0
glob2==0.7
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-auth==2.49.1
google-auth-oauthlib==1.0.0
graphql-core==3.2.8
greenlet==3.1.1
grpcio==1.70.0
h11==0.16.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
humanize==4.10.0
Hypercorn==0.17.3
hyperframe==6.0.1
idna @ file:///croot/idna_1714398848350/work
imageio==2.35.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflate64==1.0.0
itsdangerous==2.2.0
Jinja2 @ file:///croot/jinja2_1716993405101/work
jmespath==0.10.0
joblib==1.4.2
jpholiday==0.1.10
jsonlines==4.0.0
kaleido==1.3.0
kiwisolver==1.4.7
lazy_loader==0.4
lightning==2.3.3
lightning-utilities==0.11.9
logistro==2.0.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.7.5
mdurl==0.1.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mmcv==2.1.0
-e git+https://github.com/takbess/mmdetection_IAdet.git@31b0bf518106037ba554fa45763c4b1de37db446#egg=mmdet
mmengine==0.10.7
-e git+https://github.com/takbess/mmrazor.git@b4468a96d8fd23711a401c66a75a774fabb36ecb#egg=mmrazor
model-index==0.1.11
mongoengine==0.24.2
motor==3.5.3
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.1.0
multivolumefile==0.2.3
narwhals==1.42.1
networkx @ file:///croot/networkx_1690561992265/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
oauthlib==3.3.1
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.3
ordered-set==4.1.0
orjson==3.10.15
oss2==2.17.0
packaging==24.2
pandas==2.0.3
pillow @ file:///croot/pillow_1721059439630/work
platformdirs==4.3.6
playwright==1.48.0
plotly==6.7.0
pprintpp==0.4.0
priority==2.0.0
propcache==0.2.0
protobuf==5.29.6
psutil==7.2.2
py7zr==0.22.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybcj==1.0.2
pycocotools==2.0.7
pycparser==2.23
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic==2.10.6
pydantic_core==2.27.2
pydash==8.0.5
pyee==12.0.0
Pygments==2.19.2
pymongo==4.8.0
pyparsing==3.1.4
pyppmd==1.1.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytorch-lightning==2.4.0
pytz==2023.4
PyWavelets==1.4.1
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzstd==0.18.0
rarfile==4.2
regex==2024.11.6
requests==2.28.2
requests-oauthlib==2.0.0
retrying==1.4.2
rich==13.4.2
s3transfer==0.11.5
scikit-image==0.21.0
scikit-learn==1.3.2
scipy==1.10.1
shapely==2.0.7
simplejson==4.1.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
sse-starlette==0.10.3
sseclient-py==1.9.0
starlette==0.44.0
strawberry-graphql==0.138.1
sympy @ file:///croot/sympy_1734622612703/work
tabulate==0.9.0
taskgroup==0.2.2
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
terminaltables==3.1.10
texttable==1.7.0
threadpoolctl==3.5.0
tifffile==2023.7.10
tinydb==4.8.2
tomli==2.4.0
torch==2.1.0
torchmetrics==1.5.2
torchvision==0.16.0
tqdm==4.65.2
triton==2.1.0
tuspy==0.2.5
typing_extensions==4.13.2
tzdata==2025.3
tzlocal==5.2
universal-analytics-python3==1.1.1
urllib3==1.26.20
uv==0.11.3
uvicorn==0.33.0
uvloop==0.22.1
voxel51-eta==0.12.7
watchfiles==0.24.0
wcwidth==0.2.14
websockets==13.1
Werkzeug==3.0.6
wrapt==2.0.1
wsproto==1.2.0
xmltodict==0.15.0
yapf==0.43.0
yarl==1.15.2
zipp==3.20.2
